<div class="row">
    <div div class="center-block text-center">
        <h1 class="page-header">About Ispolar</h1>
        <h4 class="lead">Through years of experience and hands-on-technical knowledge, comes our ability to act not only as exporters but also as facilitators between buyers and producers of seafood. Ispolar Ltd. is located in Reykjavik, Iceland</h4>
    </div>
</div>


<div class="row">
    <div class="center-block text-center">
        <h2 class="page-header">The team</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6 text-center">
        <img class="img-circle img-center" src="~/images/einar_small.jpg" alt="" height="200">
        <h4>Einar Guðbjörnsson</h4>
        <p>Managing Director</p>
        <a href="mailto:einar@ispolar.com">einar@ispolar.com</a><br />
    </div>
    <div class="col-md-4 col-sm-6 text-center">
        <img class="img-circle img-center" src="~/images/elvar_small.jpg" alt="" height="200">
        <h4>Elvar Árni Lund</h4>
        <p>Sales Manager</p>
        <a href="mailto:elvar@ispolar.com">elvar@ispolar.com</a><br />
    </div>

    <div class="col-md-4 col-sm-6 text-center">
        <img class="img-circle img-center" src="~/images/brynhildur_small.jpg" alt="" height="200">
        <h4>Brynhildur Grímsdóttir</h4>
        <p>Accounting </p>
        <a href="mailto:bg@ispolar.com">bg@ispolar.com</a><br />
    </div>
</div>


   


