<div class="row">
    <div class="center-block text-center">
        <h1>About Ispolar</h1>
        <h4>Through years of experience and hands-on-technical knowledge, comes our ability to act not only as exporters but also as facilitators between buyers and producers of seafood. Ispolar Ltd. is located in Reykjavik, Iceland</h4>
    </div>
</div>