<div class="row">
    <div class="center-block text-center">
        <h1></h1>

        <address>
            Borgartun 30<br />
            105 Reykjavik<br />
            <abbr title="Phone">P:</abbr>
            +354 517 8880
        </address>

        <address>
            <strong>Email: </strong> <a href="mailto:ispolar@ispolar.com">ispolar@ispolar.com</a><br />
        </address>
    </div>
</div>