@section Scripts{
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var myLatLng = { lat: 64.145673, lng: -21.895579 };
            var mapProp = {
                center: myLatLng,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Borgartun 30'
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <style>
        .map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.map_container .map_canvas{
    background: #ccc;
}
    </style>
}


<div class="row">
    <div div class="center-block text-center">
        <h1 class="page-header">Contact</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <address>
            <strong>Ispolar ltd</strong><br/>
            Borgartun 30 <br/>
            105 Reykjavik<br/>
            Iceland<br/>
            <abbr title="Phone">P:</abbr> (+354) 517 8880
        </address>

        <address>
            <strong>Email</strong><br>
            <a href="mailto:#">ispolar@ispolar.is</a>
        </address>
    </div>

    <div class="col-sm-9">
        <div class="map_container">
            <div id="googleMap" class="map_canvas"></div>
        </div>
    </div>
</div>