<div class="row">
    <div div class="center-block text-center">
        <h1 class="page-header">We are Ispolar ltd</h1>
        <h4 class="lead">Ispolar ltd is one of the leading seafood traders in Iceland. We specialize in shrimps, scampi and Greenland halibut.</h4>
    </div>
</div>


<div class="row">
    <div class="col-sm-3 col-sm-offset-1">
        <h3 class="text-center">Shrimp</h3>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
        <h3 class="text-center">Scampi</h3>
    </div>
    <div class="col-sm-3  col-sm-offset-1">
        <h3 class="text-center">Greenland Halibut</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 col-sm-offset-1">
        <img class="img-responsive" src="~/images/shrimp_trans.png" />
    </div>
    <div class="col-sm-3 col-sm-offset-1">
        <img class="img-responsive" src="~/images/scampi_trans.png"/>
    </div>
    <div class="col-sm-3  col-sm-offset-1">
        <img class="img-responsive" src="~/images/halibut_trans.png" style="margin-top: 30px;" />
    </div>
</div>

<div class="row">
    <div class="col-sm-3 col-sm-offset-1">
        <h4>Canadian origin</h4>
        <ul>
            <li>Frozen at Sea, Cooked Shell-on</li>
            <li>Frozen at Sea, Raw Shell-on</li>
        </ul>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
        <h4>Icelandic origin</h4>
        <ul>
            <li>Nitrogen frozen, scampi tails</li>
            <li>Nitrogen frozen, whole scampi</li>
        </ul>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
        <h4>Canadian origin</h4>
        <ul>
            <li>Frozen at Sea, J-cut</li>
            <li>Frozen at Sea, W/R</li>
            <li>Frozen at Sea, Heads</li>
        </ul>
    </div>
</div>