<div class="row ">
  <div class="center-block text-center">
    <h1 class="page-header">Species</h1>
    <h4 class="lead">We specialize in shrimps, scampi and Greenland halibut but we also sell other products of the sea</h4>
  </div>
</div>

<div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h3 class="text-center">Shrimp</h3>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <h3 class="text-center">Scampi</h3>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <h3 class="text-center">Greenland Halibut</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <img class="img-responsive" src="~/images/shrimp_trans.png"/>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <img class="img-responsive" src="~/images/scampi_trans.png"/>
        </div>
        <div class="col-sm-3  col-sm-offset-1">
            <img class="img-responsive" src="~/images/halibut_trans.png" style="margin-top: 30px;"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h4>Canadian origin</h4>
            <ul>
                <li>Frozen at Sea, Cooked Shell-on</li>
                <li>Frozen at Sea, Raw Shell-on</li>
            </ul>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <h4>Icelandic origin</h4>
            <ul>
                <li>Nitrogen frozen, scampi tails</li>
                <li>Nitrogen frozen, whole scampi</li>
            </ul>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <h4>Canadian origin</h4>
            <ul>
                <li>Frozen at Sea, J-cut</li>
                <li>Frozen at Sea, W/R</li>
                <li>Frozen at Sea, Heads</li>
            </ul>
        </div>
    </div>
</div>
<hr/>
<div>
    <div class="row">
        <div class="col-sm-3">
            <h3 class="text-center">Cod</h3>
        </div>
        <div class="col-sm-3">
            <h3 class="text-center">Saithe </h3>
        </div>
        <div class="col-sm-3">
            <h3 class="text-center">Haddock </h3>
        </div>
        <div class="col-sm-3">
            <h3 class="text-center">Witch / Grey Sole </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/cod_trans.png"/>
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/saithe.jpg"/>
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/haddock.jpg"/>
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/witch.jpg"/>
        </div>
    </div>
</div>

<hr />
<div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h3 class="text-center">Red Fish</h3>
        </div>
        <div class="col-sm-3">
            <h3 class="text-center">Lumpfish Roes </h3>
        </div>
        <div class="col-sm-3">
            <h3 class="text-center">Monkfish</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <img class="img-responsive" src="~/images/redfish.jpg" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/lumpfish.jpg" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/monkfish.jpg" />
        </div>
    </div>
</div>